html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(190,0,0,0.85);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.85);
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(190,0,0,0.75);
}

.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  background-color: white;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}

.no-result {
  padding: 2rem 4rem;
}

.no-result--emoji {
  font-size: 5rem;
  line-height: 0.5;
}

.no-result h3 {
  font-size: 2rem;
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
}